@import "../styles/mixins";
.banner {
  padding: 0 100px 43px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__img {
  object-fit: cover;
  z-index: 100;
  width: 100%;
  border-radius: 25px;
  height: 223px;
}

.banner__img.cliff {
  filter: brightness(40%);
  box-shadow: 0 0 10px 0 rgba(0, 4, 0, 4);
}

.banner__img.mountain {
  filter: brightness(70%);
}
.banner__text {
  @include text(48px, 700, white, none);
  z-index: 200;
  position: absolute;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
}
