@import "../components/mixins";
.banner {
  padding: 0 100px 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    @include text(48px, 700, white, none, $main-font);
    z-index: 200;
    position: absolute;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
      -1px 1px 0 #000;
  }
}
.banner__img {
  object-fit: cover;
  z-index: 100;
  width: 100%;
  border-radius: 25px;
  height: 223px;
  &--cliff {
    filter: brightness(40%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  &--mountain {
    filter: brightness(70%);
  }
}
