@import "../components/mixins";
.collapse__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin: 38px 100px 38px 100px;
}
.collapse-logement__container {
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin: 25px 100px 50px 100px;
}
.collapse {
  width: 80%;
}
.collapse-logement {
  width: 100%;
}
.collapse,
.collapse-logement {
  display: flex;
  flex-direction: column;
  align-items: center;
  &--text {
    text-align: start;
    @include text(18px, 400, black, none, $main-font);
  }
  &__button {
    z-index: 200;
    background-color: $main-color;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    @include text(24px, 700, white, none, $main-font);
    width: 100%;
  }
  &__arrow {
    transition: transform 300ms;

    &.open {
      transform: rotate(-180deg);
    }
  }
  &__content {
    z-index: 100;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    margin-top: -5px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    &--text {
      @include text(18px, 400, black, none, $main-font);
      margin: 0;
      list-style-type: none;
      text-align: left;
      padding: 0;
    }
    &.open {
      height: auto;
      width: -webkit-fill-available;
    }
  }
}
