@import "../components/mixins";
.fiche-logement {
  display: flex;
  flex-direction: column;
  margin: 50px 100px 50px 100px;

  &__title {
    margin-top: 30px;
    @include text(36px, 500, $main-color, none, $main-font);
  }
  &__location {
    @include text(18px, 500, black, none, $main-font);
  }
}
.slideshow {
  width: 100%;
  height: 415px;
  display: flex;

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
  }
  &__nav {
    position: absolute;
    width: 100%;
    height: 415px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.slideshow__nav button {
  border-color: transparent;
  background-color: transparent;
  color: white;
  font-size: 79px;
}
