@import "../components/mixins";

.star-rating {
  display: flex;
  gap: 15px;
}

.star {
  font-size: 24px;
  color: #e3e3e3;
}

.star.filled {
  color: $main-color;
}
@media screen and (max-width: 375px) {
  .star-rating {
    gap: 7px;
  }

  .star {
    font-size: 13px;
  }
}
