@import "../components/mixins";

.rating {
  display: flex;
  gap: 15px;
  &__star {
    font-size: 24px;
    color: $inactive-star-color;
    &.filled {
      color: $main-color;
    }
  }
}
@media screen and (max-width: 375px) {
  .rating {
    gap: 7px;
    &__star {
      font-size: 13px;
    }
  }
}
